
<div id="lowBidModal" class="low-bid-modal">
    <div class="bid-history-modal-content p-[12px]">
        <div class="flex justify-end items-center">
            <span class="close text-[40px] cursor-pointer">&times;</span>
        </div>
        <div class="mt-0">
            <div class="flex justify-center mb-[32px]">
                <img src="{{ 'low-bid.png' | asset_url }}" height="160" width="160">
            </div>
            <div>
                <h3 class="text-[20px] sfMono mb-[20px]">Your bid is too low</h3>
                <p class="text-[14px] sfMono text-[#9d9d9d] mb-[20px]">Unfortunately, your bid didn't meet the artwork reserve price. Try again by raising your bid.</p>
                <p class="text-[14px]">Our expert's value estimate is $1000 - $2000</p>
            </div>
        </div>
    </div>
</div>
<div id="low-bid-overlay" class="modal-overlay"></div> 
<script>
    const lowBidModal = document.getElementById('lowBidModal');
    const lowBidOverlay = document.getElementById('low-bid-overlay');

    lowBidModal.addEventListener('click', function(event) {
        if (event.target === lowBidModal || event.target.classList.contains('close')) {
            lowBidModal.style.display = 'none';
            lowBidOverlay.style.display = 'none';
        }
    });
</script>