
<div class="relative">
    <div class="flex justify-between">
        <p class="text-[14px] sfMono text-[#e5e7eb] uppercase">bid history</p>
        <a id="seeAllBidHistory" class="text-[14px] see-all-bid cursor-pointer">See all</a>
    </div>
    <hr class="h-1 mt-[10px]"/>
    <div id="historyModal" class="bid-history-modal">
        <div class="bid-history-modal-content p-[12px]">
            <div class="flex justify-between items-center">
                <span class="text-[20px]">Bid history</span>
                <span class="cerrar text-[30px] cursor-pointer">&times;</span>
            </div>
            <div class="mt-[32px]">
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>🇫🇷 Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 min ago</span>
                    <span>$600</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="overlay" class="modal-overlay"></div>
<script>
    const modal = document.getElementById('historyModal');
    const seeAllBidHistory = document.getElementById('seeAllBidHistory');
    const overlay = document.getElementById('overlay');

    seeAllBidHistory.addEventListener('click', function() {
        modal.style.display = 'block';
        overlay.style.display = 'block';
    });

    modal.addEventListener('click', function(event) {
        if (event.target === modal || event.target.classList.contains('cerrar')) {
            modal.style.display = 'none';
            overlay.style.display = 'none';
        }
    });
</script>