<div class="my-[20px]">
    <p class="text-[14px] uppercase text-[#9d9d9d]">Starting bid</p>
    <h3 class="text-[43px]">{{ 1.00 | money_without_trailing_zeros }}</h3>
    <p class="text-[14px] text-[#9d9d9d]">Reserve price not met</p>
</div>