{% liquid
    assign current_date = 'now' | date: '%s'
    assign timer = product.metafields.custom.livestreaming.value.start_time | date: '%s'
    assign upcomming = product.metafields.custom.livestreaming.value.start_time
    assign notify_at_launch = product.metafields.custom.notify_at_launch.value
%}
{% if timer > current_date %}
<div class="border-solid p-[24px] w-full border-[1px] mt-[24px]">
    <div class="flex flex-col justify-center">
        <div class="mb-[16px]">
            <p class="text-[14px] sfMono flex gap-[5px] items-center justify-center"><span class="relative"><span class="redDot animate-ping absolute"></span><span class="redDot"></span></span> Pre-orders are open</p>
        </div>
        <p class="text-[14px] text-[#9d9d9d] text-center mb-[24px]">Limited number of works available</p>
        <button class="w-full bg-black py-[16px] text-white sfMono text-[14px] mb-[16px]" id="klaviyoModalBtn">Apply for pre-order</button>
        <p class="text-center text-[14px] underline mb-[24px] cursor-pointer" id="preOrder">How pre-orders work</p>
        <hr class="border-b-[0px] border-dashed mb-[24px]"> 
        <p class="text-center text-[14px] font-bold sfMono">Release starts</p>
        <p class="text-center text-[14px] sfMono mb-[24px]">{{ upcomming | date: "%A %d, %B %I:%M %p %Z" }}</p>
        <p class="text-center text-[14px] sfMono text-[#9d9d9d] mb-[24px]">Minimum 5 available at launch</p>
        <a class="bg-[#e5e7eb] py-[16px] text-[14px] text-center w-full flex justify-center gap-[5px] items-center" href="{{ notify_at_launch }}"><span class="h-[14px]">Notify me at launch </span><span>{% render 'icon-bell' %}</span></a>
    </div>
</div>
<div id="klaviyoModal" class="bid-history-modal">  
    <div class="bid-history-modal-content p-[12px]">
        <div class="flex justify-end items-center"> 
            <span class="cerrar text-[40px] cursor-pointer">&times;</span>
        </div>
      <div>
      {{ block.settings.custom_html }}
      </div>
    </div>
</div>
<div id="preOrderModal" class="bid-history-modal">  
    <div class="bid-history-modal-content p-[12px]">
        <div class="flex justify-between items-center"> 
            <span class="text-[20px]">How pre-order works</span>
            <span class="cerrar text-[40px] cursor-pointer">&times;</span>
        </div>
    </div>
</div>
<div id="overlay" class="modal-overlay"></div>
<script>
    const modal = document.getElementById('klaviyoModal');
    const preModal = document.getElementById('preOrderModal');
    const klaviyoModalBtn = document.getElementById('klaviyoModalBtn');
    const preModalBtn = document.getElementById('preOrder');
    const overlay = document.getElementById('overlay');

    klaviyoModalBtn.addEventListener('click', function() {
        modal.style.display = 'block';
        overlay.style.display = 'block';
    });

    preModalBtn.addEventListener('click', function() {
        preModal.style.display = 'block';
        overlay.style.display = 'block';
    });

    modal.addEventListener('click', function(event) {
        if (event.target === modal || event.target.classList.contains('cerrar')) {
            modal.style.display = 'none';
            overlay.style.display = 'none';
        }
    });

    preModal.addEventListener('click', function(event) {
        if (event.target === modal || event.target.classList.contains('cerrar')) {
            preModal.style.display = 'none';
            overlay.style.display = 'none';
        }
    });
</script>
<style>
    .bid-history-modal {
        overflow-y: unset;
      }
</style>
{% endif %} 