{% liquid
    assign show-bid = product.metafields.custom.activate_bid.value
 %}
{% if show-bid == false %}
    {% for variant in product.variants -%}
        {% if variant.option2 == 'Original' %}
            <p class="text-[14px] uppercase text-[#9d9d9d]">original product price</p>
            <h2 class="text-[43px] neueSwift">{{ variant.price | money_without_trailing_zeros }}</h2>
            
        {% endif %}
      {%- endfor %}
{% endif %}