{% liquid
    assign current_date = 'now' | date: '%s'
    assign timer = product.metafields.custom.livestreaming.value.start_time | date: '%s'
    assign upcomming = product.metafields.custom.livestreaming.value.start_time
%}
{% if timer > current_date %}
<div class="border-solid p-[24px] w-full border-[1px] mt-[24px]">
    <div class="flex flex-col justify-center">
        <div class="mb-[16px]">
            <p class="text-[14px] sfMono flex gap-[5px] items-center justify-center"><span class="relative"><span class="redDot animate-ping absolute"></span><span class="redDot"></span></span> Pre-orders are open</p>
        </div>
        <p class="text-[14px] text-[#9d9d9d] text-center mb-[24px]">Limited number of works available</p>
        <button class="w-full bg-black py-[16px] text-white sfMono text-[14px] mb-[16px]" id="klaviyoModalBtn">Apply for pre-order</button>
        <p class="text-center text-[14px] underline mb-[24px]">How pre-orders work</p>
        <hr class="border-b-[0px] border-dashed mb-[24px]"> 
        <p class="text-center text-[14px] font-bold sfMono">Release starts</p>
        <p class="text-center text-[14px] sfMono mb-[24px]">{{ upcomming | date: "%A %d, %B %I:%M %p %Z" }}</p>
        <p class="text-center text-[14px] sfMono text-[#9d9d9d] mb-[24px]">Minimum 5 available at launch</p>
        <a class="bg-[#e5e7eb] py-[16px] text-[14px] text-center w-full flex justify-center gap-[5px] items-center" href="https://calendar.google.com/calendar/u/0/r/eventedit?text=Example+Google+Calendar+Event&details=More+help+see:+https://support.google.com/calendar/thread/81344786&dates=20201231T160000/20201231T170000&recur=RRULE:FREQ%3DWEEKLY;UNTIL%3D20210603&ctz=America/Toronto"><span class="h-[14px]">Notify me at launch </span><span>{% render 'icon-bell' %}</span></a>
    </div>
</div>
<div id="klaviyoModal">  
    <div class="bid-history-modal">
        <div class="bid-history-modal-content p-[12px]">
            <div class="flex justify-between items-center"> 
                <span class="text-[20px]">Bid history</span>
                <span class="cerrar text-[40px] cursor-pointer">&times;</span>
            </div>
            <div class="mt-[32px]">
                <p class="mb-[12px] text-[14px] font-bold flex justify-between">
                    <span>🇫🇷 Bidder 2819</span>
                    <span class="text-[#9d9d9d]">20 m ago</span>
                    <span>$600</span>
                </p>
                <p class="mb-[12px] text-[14px] flex justify-between">
                    <span>🇫🇷 Bidder 2104</span>
                    <span class="text-[#9d9d9d]">28m ago</span>
                    <span>$595</span>
                </p>
                <p class="mb-[12px] text-[14px] flex justify-between">
                    <span>🇮🇪 Bidder 0349</span>
                    <span class="text-[#9d9d9d]">30m ago</span>
                    <span>$590</span>
                </p>
                <p class="mb-[12px] text-[14px] flex justify-between">
                    <span>🇮🇪 Bidder 0923</span>
                    <span class="text-[#9d9d9d]">40m ago</span>
                    <span>$585</span>
                </p>
                <p class="mb-[12px] text-[14px] flex justify-between">
                    <span>🇮🇪 Bidder 0649</span>
                    <span class="text-[#9d9d9d]">50m ago</span>
                    <span>$580</span>
                </p>
                <p class="mb-[12px] text-[14px] flex justify-between">
                    <span>🇮🇪 Bidder 1934</span>
                    <span class="text-[#9d9d9d]">1h ago</span>
                    <span>$575</span>
                </p>
                <p class="mb-[12px] text-[14px] flex justify-between">
                    <span>🇮🇪 Bidder 1834</span>
                    <span class="text-[#9d9d9d]">1h ago</span>
                    <span>$570</span>
                </p>
                <p class="mb-[12px] text-[14px] flex justify-between">
                    <span>🇮🇪 Bidder 2390</span>
                    <span class="text-[#9d9d9d]">2h ago</span>
                    <span>$565</span>
                </p>
                <p class="mb-[12px] text-[14px] flex justify-between">
                    <span>🇮🇪 Bidder 2004</span>
                    <span class="text-[#9d9d9d]">2h ago</span>
                    <span>$560</span>
                </p>
                <p class="mb-[12px] text-[14px] flex justify-between">
                    <span>🇮🇪 Bidder 1349</span>
                    <span class="text-[#9d9d9d]">2h ago</span>
                    <span>$555</span>
                </p>
                <p class="mb-[12px] text-[14px] flex justify-between">
                    <span>🇮🇪 Bidder 1234</span>
                    <span class="text-[#9d9d9d]">2h ago</span>
                    <span>$550</span>
                </p>
                <p class="mb-[12px] text-[14px] flex justify-between">
                    <span>🇮🇪 Bidder 2345</span>
                    <span class="text-[#9d9d9d]">3h ago</span>
                    <span>$545</span>
                </p>
                <p class="mb-[12px] text-[14px] flex justify-between">
                    <span>🇮🇪 Bidder 1480</span>
                    <span class="text-[#9d9d9d]">3h ago</span>
                    <span>$540</span>
                </p>
                <p class="mb-[12px] text-[14px] flex justify-between">
                    <span>🇮🇪 Bidder 0639</span>
                    <span class="text-[#9d9d9d]">3h ago</span>
                    <span>$535</span>
                </p>
                <p class="mb-[12px] text-[14px] flex justify-between">
                    <span>🇮🇪 Bidder 0295</span>
                    <span class="text-[#9d9d9d]">3h ago</span>
                    <span>$530</span>
                </p>
                <p class="mb-[12px] text-[14px] flex justify-between">
                    <span>🇮🇪 Bidder 0459</span>
                    <span class="text-[#9d9d9d]">4h ago</span>
                    <span>$525</span>
                </p>
                <p class="text-[14px] flex justify-between">
                    <span>🇮🇪 Bidder 2958</span>
                    <span class="text-[#9d9d9d]">4h ago</span>
                    <span>$520</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="overlay" class="modal-overlay"></div>
<script>
    const modal = document.getElementById('klaviyoModal');
    const klaviyoModalBtn = document.getElementById('klaviyoModalBtn');
    const overlay = document.getElementById('overlay');

    klaviyoModalBtn.addEventListener('click', function() {
        modal.style.display = 'block';
        overlay.style.display = 'block';
    });

    modal.addEventListener('click', function(event) {
        if (event.target === modal || event.target.classList.contains('cerrar')) {
            modal.style.display = 'none';
            overlay.style.display = 'none';
        }
    });
</script>
{% endif %} 