{% liquid
  assign current_date = 'now' | date: '%s'
  assign timer = product.metafields.custom.livestreaming.value.start_time | date: '%s'
 %}
<div class="my-[20px]">
    <div class="relative">
        <p class="text-[14px] uppercase text-[#9d9d9d] flex gap-2 items-center icon-info"><span>Starting bid</span><span class="cursor-pointer">{% render 'icon-info' %}</span></p>
        <div class="tooltip p-[20px]">
            <p class="text-[16px] mb-[20px] font-bold">Other costs</p>
            <div class="grid grid-cols-10 gap-[12px]">
                <div class="col-span-1">{% render 'icon-delivery' %}</div>
                <div class="col-span-9 mb-[20px]">
                    <p class="text-[14px] sfMono mb-[12px]">Shipping: $ Depends on Location.</p>
                    <p class="text-[#9d9d9d] text-[14px]">from United States in 3 - 25 days</p>
                    <a href="#" class="font-bold sfMono text-[14px] flex gap-2">More about shipping {% render 'icon-arrow-right' %}</a>
                </div>
                <div class="col-span-1">{% render 'icon-bid' %}</div>
                <div class="col-span-9">
                    <p class="text-[14px]">Buyer's Protection fee: 9.5% + VAT</p>
                </div>
            </div>
        </div>
        <h3 class="text-[43px] neueSwift" id="bidAmount">{{ 100 | money_without_trailing_zeros }}</h3>
        <p class="text-[14px] text-[#9d9d9d]">Reserve price not met</p>
    </div>
    <div class="mt-[20px]">
        <form>
            <div class="flex gap-[14px] justify-between mb-[16px]">
                <div class="label-only-input relative w-full">
                    <input type="radio" name="num" value="5" class="bidNumbers peer absolute left-0 top-0 cursor-pointer opacity-0 text-[12px]" id="firstBid" {% if timer > current_date or product.sold_out %}disabled{% endif %}> 
                    <label for="firstBid" class="relative select-none block p-[10px] min-w-9 rounded-button border-text text-[12px] text-center peer-checked:border-scheme-text peer-[.sold-out]:line-through peer-[.unavailable]:line-through text-[#9d9d9d] peer-checked:text-black {% if timer > current_date or product.sold_out %}opacity-[0.5] cursor-not-allowed{% else %}cursor-pointer{% endif %}">£5</label>
                </div>
                <div class="lable-only-input relative w-full">
                    <input type="radio" name="num" value="10" class="bidNumbers peer absolute left-0 top-0 cursor-pointer opacity-0 text-[12px]" id="secondBid" {% if timer > current_date or product.sold_out %}disabled{% endif %}>
                    <label for="secondBid" class="relative select-none block p-[10px] min-w-9 rounded-button border-text text-[12px] text-center peer-checked:border-scheme-text peer-[.sold-out]:line-through peer-[.unavailable]:line-through text-[#9d9d9d] peer-checked:text-black {% if timer > current_date or product.sold_out %}opacity-[0.5] cursor-not-allowed{% else %}cursor-pointer{% endif %}">£10</label>
                </div>
                <div class="lable-only-input relative w-full">
                    <input type="radio" name="num" value="15" class="bidNumbers peer absolute left-0 top-0 cursor-pointer opacity-0 text-[12px]" id="thirdBid" {% if timer > current_date or product.sold_out %}disabled{% endif %}>
                    <label for="thirdBid" class="relative select-none block p-[10px] min-w-9 rounded-button border-text text-[12px] text-center peer-checked:border-scheme-text peer-[.sold-out]:line-through peer-[.unavailable]:line-through text-[#9d9d9d] peer-checked:text-black {% if timer > current_date or product.sold_out %}opacity-[0.5] cursor-not-allowed{% else %}cursor-pointer{% endif %}">£15</label>
                </div>
                <div class="lable-only-input relative w-full">
                    <input type="radio" name="num" value="20" class="bidNumbers peer absolute left-0 top-0 cursor-pointer opacity-0 text-[12px]" id="fourthBid" {% if timer > current_date or product.sold_out %}disabled{% endif %}> 
                    <label for="fourthBid" class="relative select-none block p-[10px] min-w-9 rounded-button border-text text-[12px] text-center peer-checked:border-scheme-text peer-[.sold-out]:line-through peer-[.unavailable]:line-through text-[#9d9d9d] peer-checked:text-black {% if timer > current_date or product.sold_out %}opacity-[0.5] cursor-not-allowed{% else %}cursor-pointer{% endif %}">£20</label>
                </div>
            </div>
            <input type="text" id="custom-num" placeholder="£5 or up" class="w-full border-solid border py-[10px] px-[12px] mb-[8px] border-[#9d9d9d] {% if timer > current_date or product.sold_out %}opacity-[0.5] cursor-not-allowed{% endif %}" {% if timer > current_date or product.sold_out %}disabled{% endif %}>
            <div class="flex justify-between gap-[16px]">
                <button id="placeBid" class="border w-full border-black p-[10px] {% if timer > current_date or product.sold_out %}opacity-[0.5] cursor-not-allowed{% endif %}" {% if timer > current_date or product.sold_out %}disabled{% endif %}>Place bid</button>
                <button id="maxBid" class="border w-full border-black p-[10px] bg-black text-white {% if timer > current_date or product.sold_out %}opacity-[0.5] cursor-not-allowed{% endif %}" {% if timer > current_date or product.sold_out %}disabled{% endif %}>Set max bid</button>
            </div>
            
            <script>
                const radioInputs = document.querySelectorAll('bidNumbers');
                const customInput = document.getElementById('custom-num');
                
                customInput.addEventListener('input', updateRadioValues);

                function updateRadioValues() {
                    const customValue = parseInt(customInput.value);
                    if (customValue > radioInputs[radioInputs.length - 1].value) {
                        const newValues = [];
                        let currentValue = customValue;
                        while (newValues.length < radioInputs.length) {
                        newValues.push(currentValue);
                        currentValue -= 5;
                        }
                        newValues.reverse();
                        radioInputs.forEach((input, index) => {
                        input.value = newValues[index];
                        });
                    }
                }
            </script>
        </form>
    </div>
</div>