{% liquid
    assign show-bid = product.metafields.custom.activate_bid.value
 %}
{% if show-bid == false %}
    {% for variant in product.variants -%}
        {% if variant.option2 == 'Original' %}
            {{ variant.price | money_without_trailing_zeros }}
            {% form 'product', product, id: product_form_id %}
                <button type="submit" class="bg-black w-full text-white text-center" id="addToCartButtonOriginal">Buy the original now</button>
            {% endform %}
        {% endif %}
      {%- endfor %}
{% endif %}