{% liquid
    assign show-bid = product.metafields.custom.activate_bid.value
 %}
{% if show-bid == false %}
    {% for option in product.options_with_values %}
        {% for value in option.values %}
            {% if value.name == 'Original' %}
                <div>
                    {{ value.price | money_without_trailing_zeros }}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}