<div>
    <div>
        {{ quote }}
    </div>
    <div class="mt-[24px]">
        {{ review }}
    </div>
    <div class="mt-[30px] text-[14px]">
        {{ reviewer }}
    </div>
    <p class="mt-[10px] text-[#d9d9d9] text-[14px]">
        {{ orders }}
    </p>
</div>