{% if product.selected_or_first_available_variant.available == false %}
    <div class="my-[20px] border-solid w-full p-[20px]">
        <div class="mb-[24px]">
            <p class="text-center mb-[12px] text-[16px] font-bold">Love this work?</p>
            <p class="text-[14px] text-center">Join waiting list to get notified about any cancellations and early access on text releases.</p>
        </div>
        <button class="bg-black p-[10px] text-center text-white w-full">Join waiting list</button>
    </div>
{% endif %}