
<div id="placeBidModal" class="place-bid-modal">
    <div class="bid-history-modal-content p-[12px]">
        <div class="flex justify-end items-center">
            <span class="close text-[40px] cursor-pointer">&times;</span>
        </div>
        <div class="mt-0">
            <div class="flex justify-center mb-[32px]">
                <img src="{{ 'unsuccessful-bid.png' | asset_url }}" height="160" width="160">
            </div>
            <div>
                <h3 class="text-[20px] sfMono mb-[20px]">Bid was not placed successfully.</h3>
                <p class="text-[14px] sfMono text-[#9d9d9d] mb-[20px]">Bid not accepted. The lot is closed.</p>
            </div>
        </div>
    </div>
</div>
<div id="place-bid-overlay" class="modal-overlay"></div> 
<script>
    const placeBid = document.getElementById('placeBid');
    const placeBidModal = document.getElementById('placeBidModal');
    const placeBidOverlay = document.getElementById('place-bid-overlay'); 

    placeBid.addEventListener('click', function() {
        placeBidModal.style.display = 'block';
        placeBidoverlay.style.display = 'block';
    });

    placeBidModal.addEventListener('click', function(event) {
        if (event.target === placeBidModal || event.target.classList.contains('close')) {
            placeBidModal.style.display = 'none';
            placeBidOverlay.style.display = 'none';
        }
    });
</script>