
<div id="successfulModal" class="successful-modal">
    <div class="bid-history-modal-content p-[12px]">
        <div class="flex justify-end items-center">
            <span class="close text-[40px] cursor-pointer">&times;</span>
        </div>
        <div class="mt-0">
            <div class="flex justify-center mb-[32px]">
                <img src="{{ 'successful-bid.png' | asset_url }}" height="160" width="160">
            </div>
            <div>
                <h3 class="text-[20px] sfMono mb-[20px]">Your bid is on top!</h3>
                <p class="text-[14px] sfMono text-[#9d9d9d] mb-[20px]">You've successfully placed your bid!</p>
            </div>
        </div>
    </div>
</div>
<div id="successful-bid-overlay" class="modal-overlay" style="display:block"></div> 
<script>
    const successfulModal = document.getElementById('successfulModal');
    const successfulBidOverlay = document.getElementById('successful-bid-overlay');

    successfulModal.addEventListener('click', function(event) {
        if (event.target === successfulModal || event.target.classList.contains('close')) {
            successfulModal.style.display = 'none';
            successfulBidOverlay.style.display = 'none';
        }
    });
</script>