
<div id="unsuccessfulModal" class="unsuccessful-modal">
    <div class="bid-history-modal-content p-[12px]">
        <div class="flex justify-end items-center">
            <span class="cerrar text-[40px] cursor-pointer">&times;</span>
        </div>
        <div class="mt-0">
            <div class="flex justify-center mb-[32px]">
                <img src="{{ 'unsuccessful-bid.png' | asset_url }}" height="160" width="160">
            </div>
            <div>
                <h3 class="text-[20px] sfMono mb-[20px]">Your bid is too low</h3>
                <p class="text-[14px] sfMono text-[#9d9d9d] mb-[20px]">Unfortunately, your bid didn't meet the artwork reserve price. Try again by raising your bid.</p>
                <p class="text-[14px]">Our expert's value estimate is $1000 - $2000</p>
            </div>
        </div>
    </div>
</div>
<script>
    const unsuccessfulModal = document.getElementById('unsuccessfulModal');
    const overlay = document.getElementById('overlay');

    unsuccessfulModal.addEventListener('click', function(event) {
        if (event.target === unsuccessfulModal || event.target.classList.contains('cerrar')) {
            unsuccessfulModal.style.display = 'none';
            overlay.style.display = 'none';
        }
    });
</script>