
<div id="unsuccessfulModal" class="unsuccessful-modal" style="display:block">
    <div class="bid-history-modal-content p-[12px]">
        <div class="flex justify-end items-center">
            <span class="close text-[40px] cursor-pointer">&times;</span>
        </div>
        <div class="mt-0">
            <div class="flex justify-center mb-[32px]">
                <img src="{{ 'unsuccessful-bid.png' | asset_url }}" height="160" width="160">
            </div>
            <div>
                <h3 class="text-[20px] sfMono mb-[20px]">Bid was not placed successfully.</h3>
                <p class="text-[14px] sfMono text-[#9d9d9d] mb-[20px]">Bid not accepted. The lot is closed.</p>
            </div>
        </div>
    </div>
</div>
<div id="bid-overlay" class="modal-overlay" style="display:block"></div> 
<script>
    const unsuccessfulModal = document.getElementById('unsuccessfulModal');
    const bidOverlay = document.getElementById('bid-overlay');

    unsuccessfulModal.addEventListener('click', function(event) {
        if (event.target === unsuccessfulModal || event.target.classList.contains('close')) {
            unsuccessfulModal.style.display = 'none';
            bidOverlay.style.display = 'none';
        }
    });
</script>