<div class="relative">
    <div>
        <img src="{{ banner | image_url }}" width="100" height="100" class="w-full">
    </div>
    <div class="absolute flex flex-col justify-between h-full w-full top-0">
        <a class="sfMono bg-white p-[10px] w-fit border border-black text-[14px] mx-[20px] mt-[20px]" src="#">
            Notify Me
        </a>
        <div class="p-[20px] bg-gradient-to-t from-black">
            <p class="sfMono text-white text-[14px]">
                {{ date }}
            </p>
            <p class="neueSwift text-white text-[16px] leading-[20px] mt-[10px]">
                {{ desc }}
            </p>
        </div>
    </div>
</div>