{%- liquid
  assign display_view_all_underneath = true

  if title == '' and show_link
    assign display_view_all_underneath = true
  endif

  if title != '' and show_link and settings.section_title_align == 'center'
    assign display_view_all_underneath = true
  endif
-%}

{% if display_view_all_underneath %}
  <div
    class="flex justify-center mt-[20px] lg:mt-[40px]"
    data-color-scheme="{{ section_color }}"
  >
    <a
      class="text-white menlo px-[40px] py-[15px] bg-black lg:w-fit w-full text-center"
      href="{{ link_url }}"
    >
      {{- link_text -}}
    </a>
  </div>
{% endif %}
