{% liquid
    assign size = section.blocks.size 
    assign first = section.blocks.first 
    assign last = section.blocks.last 
%}

<section id="featured-brands-{{ section.id }}" class="mt-[40px] lg:mt-[80px] lg:px-[84px] px-[10px]">
    <div>
        <h2 class="font-heading text-[32px] text-center mb-[16px] lg:mb-[24px]">
            {{ section.settings.title }}
        </h2>
    </div>
    <div class="grid {% if size == 1 %}grid-cols-1 lg:grid-cols-1{% elsif size == 2 %}grid-cols-2 gap-3 lg:grid-cols-2{% elsif size == 3 %}grid-cols-3 gap-3 lg:grid-cols-3{% elsif size == 4 %}grid-cols-2 gap-3 lg:grid-cols-4{% elsif size == 5 %}grid-cols-3 gap-3 lg:grid-cols-5 justify-center{% else %}grid-cols-3 gap-3 lg:grid-cols-6{% endif %}">
        {% for block in section.blocks %}
            {% if block.settings.brandImage != blank %}
                <div class="flex {% if size == 2 and first %}justify-end{% elsif size == 2 and last %}justify-left{% else %}justify-center{% endif %}">
                    <img src="{{ block.settings.brandImage | image_url }}" alt="{{ section.settings.brandImage.alt }} " width="" height=""/>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>

{% schema %}
    {
        "name": "Featured Brands",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Our Partners"
            }
        ],
        "blocks": [
            {
                "type": "brands",
                "name": "Brands",
                "limit": 6,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "brandImage",
                        "label": "Brand Image"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Featured Brands"
            }
        ]
    }
{% endschema %}