<section id="featured-brands-{{ section.id }}" class="mt-[40px] lg:mt-[80px] lg:px-[84px]">
    <div>
        <h2 class="font-heading text-[32px] text-center mb-[16px] lg:mb-[24px]">
            {{ section.settings.title }}
        </h2>
    </div>
    <div class="grid grid-cols-3 gap-3 lg:grid-cols-6">
        {% for block in section.blocks %}
            {% if block.settings.brandImage != blank %}
                <div class="flex justify-center">
                    <img src="{{ block.settings.brandImage | image_url }}" alt="{{ section.settings.brandImage.alt }} " width="" height=""/>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>

{% schema %}
    {
        "name": "Featured Brands",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Our Partners"
            }
        ],
        "blocks": [
            {
                "type": "brands",
                "name": "Brands",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "brandImage",
                        "label": "Brand Image"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Featured Brands"
            }
        ]
    }
{% endschema %}